@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mobile-bg sm:bg-tablet-bg lg:bg-desktop-bg bg-no-repeat bg-cover;
  }
}

@font-face {
  font-family: 'Mouse Memoirs';
  src: url('/fonts/MouseMemoirs-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@layer base {

  .heading-xl,
  .heading-l,
  .heading-m,
  .heading-s,
  .body {
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .shadow-inner-blue {
    @apply shadow-inner;
    box-shadow: inset 0px 10px 5px 10px #2463FF;
    opacity: .6;
  }
}

.heading-xl {
  font-size: 136px;
}

.heading-l {
  font-size: 88px;
}

.heading-m {
  font-size: 48px;
}

.heading-s {
  font-size: 32px;
}

.body {
  font-size: 26px;
}

.body-s {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #847cbc;
  font-weight: thin;
}

.card {
  width: 324px;
  height: 481px;
  border-radius: 48px;
  background: linear-gradient(180deg, #344ABA 0%, #001479 100%);
  box-shadow: 0px 10px 2px 3px #191264,
    inset 0px 10px 0px 5px #2463FF;
  opacity: .9;
  position: relative;
  overflow: hidden;
}

.play-button {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background: linear-gradient(180deg, #8831f0 0%, #FE71FE 100%);
  box-shadow: 0px 5px 2px 3px #2c3342,
    inset 0px -10px 0px 5px #8831f0;
  position: relative;
  overflow: hidden;
}

.play-button:hover {
  background: linear-gradient(180deg, #FE71FE 0%, #7199FF 100%);
  box-shadow: 0px 5px 2px 3px #2c3342,
    inset 0px -10px 0px 5px #8831f0;
}

.how-to-button {
  width: 260px;
  height: 62px;
  border-radius: 40px;
  background: #2463FF;
  box-shadow: 0px 2px 0px 2px #261676,
    inset 0px 3px 0px 3px #519dfb;
  position: relative;
  overflow: hidden;
}

.how-to-button:hover {
  background: #519dfb;
  box-shadow: 0px 2px 0px 2px #261676,
    inset 0px 3px 0px 3px #2463FF;
}

.back-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: linear-gradient(180deg, #8831f0 0%, #FE71FE 100%);
  box-shadow: inset 0px -1px 0px 3px #8831f0;
  position: relative;
  overflow: hidden;
}

.back-button:hover {
  background: linear-gradient(180deg, #FE71FE 0%, #7199FF 100%);
  box-shadow: inset 0px -1px 0px 3px #8831f0;
}

.gradient-text {
  background: linear-gradient(to bottom, #67B6FF, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
}

.gradient-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-text-stroke: 6px #2c3342;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;


}

/* Tablet */
@media screen and (min-width: 640px) {
  .card {
    width: 590px;
    height: 500px;
  }

  .play-button {
    width: 200px;
    height: 200px;
  }

  .back-button {
    width: 64px;
    height: 64px;
    background: linear-gradient(180deg, #8831f0 0%, #FE71FE 100%);
    box-shadow: inset 0px -3px 0px 5px #8831f0;
  }

  .back-button:hover {
    background: linear-gradient(180deg, #FE71FE 0%, #7199FF 100%);
    box-shadow: inset 0px -3px 0px 5px #8831f0;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .back-button {
    width: 94px;
    height: 94px;
    background: linear-gradient(180deg, #8831f0 0%, #FE71FE 100%);
    box-shadow: inset 0px -3px 0px 5px #8831f0;
  }

  .back-button:hover {
    background: linear-gradient(180deg, #FE71FE 0%, #7199FF 100%);
    box-shadow: inset 0px -3px 0px 5px #8831f0;
  }

}