@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mobile-bg sm:bg-tablet-bg lg:bg-desktop-bg bg-no-repeat bg-cover;
  }
}

@font-face {
  font-family: 'Mouse Memoirs';
  src: url('/fonts/MouseMemoirs-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .shadow-inner-blue {
    @apply shadow-inner;
    box-shadow: inset 0px 10px 5px 10px #2463FF;
    opacity: .6;
  }
}

h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 136px;
}

h2 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 88px;
}

h3 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 48px;
}

h4 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
}

p {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 26px;
}

.card {
  width: 592px;
  height: 500px;
  border-radius: 48px;
  background: linear-gradient(180deg, #344ABA 0%, #001479 100%);
  box-shadow: inset 0px 10px 0px 5px #2463FF;
  opacity: .9;
  position: relative;
  overflow: hidden;
}

.outer-card {
  width: 593px;
  height: 500px;
  border-radius: 48px;
  box-shadow: 0px 10px 2px 3px #191264;
}

.play-button {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: linear-gradient(180deg, #8831f0 0%, #FE71FE 100%);
  box-shadow: inset 0px -10px 0px 5px #8831f0;
  position: relative;
  overflow: hidden;
}

.play-button:hover {
  background: linear-gradient(180deg, #FE71FE 0%, #7199FF 100%);
  box-shadow: inset 0px -10px 0px 5px #8831f0;
}

.outer-play-button {
  width: 201px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0px 5px 2px 3px #2c3342;
  position: relative;
  overflow: hidden;
}

.how-to-button {
  width: 260px;
  height: 62px;
  border-radius: 40px;
  background: #2463FF;
  box-shadow: inset 0px 3px 0px 3px #519dfb;
  position: relative;
  overflow: hidden;
}

.how-to-button:hover {
  background: #519dfb;
  box-shadow: inset 0px 3px 0px 3px #2463FF;
}

.outer-how-to-button {
  width: 261px;
  height: 62px;
  border-radius: 40px;
  box-shadow: 0px 2px 0px 2px #261676;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 624px) {
  .card {
    width: 324px;
    height: 481px;
  }

  .outer-card {
    width: 325px;
    height: 481px;
  }

  .play-button {
    width: 160px;
    height: 160px;
  }

  .outer-play-button {
    width: 161px;
    height: 160px;
  }
}